@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: black;
  background-color: #F3F5FB;
}

.ql-toolbar.ql-snow {
  border-bottom: 1px solid #6C80FF !important;
  border-top: 0px !important ;
  border-left: 0px !important ;
  border-right: 0px !important ;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 8px;
}

.ql-container.ql-snow {
  border: 0px solid !important;
}